html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* MY CODE */

* {
    text-decoration: none;
}

html {
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: white;
}

header {
    width: 100%;
    height: 100px;
    background-color: grey;
    position: relative;
}

.wrapper {
   /* margin: 0 7%; */
    width: auto;
}

header .header-brand {
    font-family: Catamaran;
    font-size: 50px;
    font-weight: 900;
    display: block;
    color: black;
    text-align: left;
    float: left;
    margin: 10px 0% 10px 7%;
    padding-right: 5px;
    line-height: 80px;
    border-right: 3px solid black;
}

header .slogan {
    font-family: Garamond;
    font-size: 20px;
    font-weight: 900;
    color: #393939;
    margin: 35px 0 10px 0;
    padding-left: 10px;
    display: inline-block;
    position: absolute;
}

.input-location {
    margin: 15px 0 0 0;
    width: 51%;
    height: 450px;
    background-color: rgba(95, 93, 133, 0.295);;
    float: left;
}

#map {
    margin: 15px 0 0 0;
    width: 49%;
    height: 450px;
    float: left;
}

.input-street {
    margin-left: 20px;
    width: clac(100%-20px);
    height: 150px;
}

.input-street .prompt {
    font-family: Garamond;
    font-size: 20px;
    font-weight: 250;
    color: black;
    float: left;
    width: auto;
    padding-top: 42px;
    padding-bottom: 10px;
    padding-left: 0px;
    align-items: bottom;
}

.input-city {
    margin-left: 20px;
    width: calc(25vw - 20px);
    height: 150px;
    float: left;
}

.input-city .prompt {
    font-family: Garamond;
    font-size: 20px;
    font-weight: 250;
    color: black;
    float: left;
    width: auto;
    padding-top: 42px;
    padding-bottom: 10px;
    align-items: bottom;
}

.input-province {
    width: calc(25vw - 10px);
    height: 150px;
    float: left;
    float: right;
}

.input-province .prompt {
    font-family: Garamond;
    font-size: 20px;
    font-weight: 250;
    color: black;
    float: left;
    width: auto;
    padding-top: 42px;
    padding-bottom: 10px;
    align-items: bottom;
}

.input-street > input {
    box-sizing: border-box;
    float: left;
    margin: 0 0px 0 0px;
    height: 40px;
    width: calc(50vw - 40px); 
    appearance: none;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;
    background: white;
}

.input-city > input {
    box-sizing: border-box;
    float: left;
    height: 40px;
    width: calc(25vw - 40px); 
    appearance: none;
    border: none;
    outline: none;
    background: white;
    border-radius: 3px;
    padding-left: 5px;
}

.input-province > input {
    box-sizing: border-box;
    float: left;
    height: 40px;
    width: calc(25vw - 40px); 
    appearance: none;
    border: none;
    outline: none;
    background: white;
    border-radius: 3px;
    padding-left: 5px;
}

input::placeholder {
    color: #222;
    font-size: 15px;
    transition: color .3s ease;
}

input:focus::placeholder {
    color: transparent;
}

.section-go {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.go {
    position: relative;
    height: 80px;
    width: 220px;
    margin-top: 30px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    background-color: rgb(255, 255, 255);
    background-position: center;
    transition-duration: .6s;
    overflow: hidden;
    cursor: pointer;
}

.go:hover {
    background: rgb(31, 209, 241) radial-gradient(circle, transparent 1%, rgb(31, 209, 241) 1%) center/15000%;
    border: rgb(31, 209, 241);
}

.go:active {
    background-color: #ffffff; 
    background-size: 100%;
    transition: background 0s;
}

.input-param {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: 340px;
    background-color: rgba(31, 209, 241, 0.356);
    float: left;
}

.title-block-2-wrapper {
    width: 100%;
    height: 90px;
}

.title-block-2 {
    font-family: Garamond;
    font-size: 28px;
    font-weight: 250;
    color: black;
    float: left;
    width: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.checkbox-list {
    width: 33%;
    height: 250px;
    display: grid;
    float: left;
    justify-content: left;
}


.check {
    grid-column: 1;
    appearance: none;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 3px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    justify-content : center;
    align-items: center;
    transition-duration: .6s;
}

.check:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: 0px;
    content: "\f00c";
    color: white;
    display: block;
}

.check:hover {
    background-color: rgb(31, 182, 241);;
}

.check:checked {
    background-color: rgb(31, 182, 241);;
}

.check:checked:after {
    animation-name: fontChangeInc;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes fontChangeInc {
    from {font-size: 0px;}
    to {font-size: 30px;} 
}

.check:not(:checked):after {
    animation-name: fontChangeDec;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes fontChangeDec {
    from {font-size: 30px;}
    to {font-size: 0px;} 
}

.label {
    grid-column: 2;
    font-family: Garamond;
    font-size: 22px;
    font-weight: 300;
    color: black;
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.other-params {
    width: 33%;
    height: 250px;
    float:left;
    justify-content: left;
}

.specific-places {
    width: 100%;
    height: calc(250px/4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specific-places .places-prompt {
    font-family: Garamond;
    font-size: 22px;
    font-weight: 300;
    color: black;
    width: auto;
    float: left;
}

.specific-places > input {
    box-sizing: border-box;
    float: right;
    height: 40px;
    width: 65%; 
    appearance: none;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 10px;
}

.distance {
    width: 100%;
    height: calc(250px/4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.distance .distance-prompt {
    font-family: Garamond;
    font-size: 22px;
    font-weight: 300;
    color: black;
    width: auto;
    float: left;
}

.distance > input {
    box-sizing: border-box;
    float: right;
    height: 40px;
    width: 25%; 
    appearance: none;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 10px;
}

.num-rooms {
    width: 100%;
    height: calc(250px/4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-rooms .num-rooms-prompt {
    font-family: Garamond;
    font-size: 22px;
    font-weight: 300;
    color: black;
    width: auto;
    float: left;
}

.num-rooms > input {
    box-sizing: border-box;
    float: right;
    height: 40px;
    width: 25%; 
    appearance: none;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 10px;
}

.num-nights {
    width: 100%;
    height: calc(250px/4 - 5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-nights .num-nights-prompt {
    font-family: Garamond;
    font-size: 22px;
    font-weight: 300;
    color: black;
    width: auto;
    float: left;
}

.num-nights > input {
    box-sizing: border-box;
    float: right;
    height: 40px;
    width: 25%; 
    appearance: none;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 10px;
}

.section-places {
    width: 34%;
    height: 250px;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-places .search {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 90%;
    width: 40%;
    margin-right: 15px;
    margin-bottom: 25px;
    background-color: rgb(255,255,255);
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: .3s;
}

.search span {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    background: #ffffff;
    border-radius: 50%;
}

.search span.active {
    animation: clickEffect 0.6s;
}

.section-places .filter {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 90%;
    width: 20%;
    margin-left: 15px;
    margin-bottom: 25px;
    background-color: rgb(255,255,255);
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: .3s;
}

.filter span {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    background: #ffffff;
    border-radius: 50%;
}

.filter span.active {
    animation: clickEffect 0.6s;
}

@keyframes clickEffect {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(450);
        opacity: 0;
    }
} 

.output {
    margin-bottom: 3%;
    width: 100%;
    height: auto;
/*    height: 340px; */
    background-color: rgba(64, 207, 171, 0.322);
    float: left;
}

.result-header-wrapper {
    width: 100%;
    height: 90px;
}

.result-header {
    font-family: Garamond;
    font-size: 28px;
    font-weight: 250;
    color: black;
    float: left;
    width: 100vw;
    padding-top: 20px;
    padding-left: 20px;
}

#resultContainerRestuarants {
    box-sizing: border-box;
    width: 33%;
    height: auto;
    font-family: Garamond;
    font-size: 40px;
    font-weight: 100;
    color: black;
    float: left;
    justify-content: left;
    align-items: left;
    padding-bottom: 10px;
    padding-left: 30px;
}

#resultContainerAttractions {
    box-sizing: border-box;
    width: 33%;
    font-family: Garamond;
    font-size: 40px;
    font-weight: 100;
    color: black;
    float: left;
    justify-content: left;
    align-items: left;
    padding-bottom: 10px;
    padding-left: 30px;
}

#resultContainerHotels {
    box-sizing: border-box;
    width: 34%;
    font-family: Garamond;
    font-size: 40px;
    font-weight: 100;
    color: black;
    float: left;
    justify-content: left;
    align-items: left;
    padding-bottom: 10px;
    padding-left: 30px;
}